header{
  /* width: 1,440px; */
  height: 118px;
  padding: 30px 0px 20px 0px;
  border-bottom: 1px solid var(--textColor);
  background-color: var(--mainColor);
  top: 0; 
  z-index: -1;
}
.nav-div1{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.nav-link{
  color: var(--textColor);
  font-size: 18px;
  /* margin: 0px 40px 0px 40px; */
  position: relative;
  padding: 0 10px;
}
.nav-link::after{
  width: 0;
  background-color: black;
  height: 3px;
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  
}
.nav-link:hover:after{
  width: 100%;
  color: rgba(255, 255, 255, 1);
}
.nav-btn{
  background-color: var(--SecondaryColor);
  color: var(--textColor);
  padding: 10px 6px 10px;
  border-radius: 5px;
}
.main-container{
  /* background-color: var(--SecondaryColor); */
  padding-top: 50px;
  padding-bottom: 100px;
  width:100%;
  /* margin: auto; */
  /* width: 1240px; */
}
.main-div1{
  width: 80%;
  margin: auto;
  /* justify-content: space-between; */
  /* margin-top: 62px; */
  /* margin-bottom: 100px; */
}
.main-text1{
  font-size: 64px;
  font-weight:600;
  letter-spacing: 2px;
  line-height: 96px;
  color: rgba(42, 42, 42, 1);
  font: Clash Grotesk;
}
.main-text2{
  font: Amulya;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 70px;
  /* padding: 8px; */
  line-height: 36px;
}
.main-div2{
  /* margin-right: 80px; */

  width: 50%;
}
.main-div3{
  width: 50%;
  display: flex;
  justify-content: center;
}
.big-frame{
  width: 580px;
  height: 610px;
}
.img-link{
  width: 186px;
  height: 54px;
}
.display-container{
  /* height: 199px; */
  width: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  /* padding: 20px 0 20px 0; */
}
.display-div{
  height: 199px;
  /* width:1120px; */
  width: 75%;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  margin: auto;
}
.who-container{
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}
.who-name, .what-name{
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: rgba(42, 42, 42, 1);
  margin-bottom: 30px;
}
.who-div1{
  width: 80%;
  margin: auto;
}
.who-card-div , .what-card-div{
  justify-content: space-between;
}
.who-image{
  width: 51px;
  height: 51px;
  margin-top: 27px;
}
.who-title, .what-title{
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
}
.what-title{
  margin-left: 15px;
}
.who-card{
  width: 383px;
  height: 329px;
  align-items: center;
  /* padding: 0 5px 0 5px; */
}
.who-description, .what-description{
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.691px;
}
.what-container{
  padding-bottom: 100px;
}
.what-description{
  margin-left: 15px;
}
.what-div1{
  width: 80%;
  margin: auto;
}
.what-subname, .shop-subname{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
}
.what-image{
  width: 392px;
  height: 400px;
}
.what-card{
  height: 634px;
  width: 392px;
}
.shop-container{
  padding-top: 70px;
  width: 100%;
  background-color: var(--SecondaryColor);
  color: white;
  padding-bottom: 100px;
}
.shop-name{
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.shop-subname{
  width: 931px;
  padding: 8px;
  margin: auto;
}
.shop-btn{
  padding: 10px 6px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 27, 46, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  margin: auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
.shop-card{
  height: 350px;
  width: 400px;
  height: 298px;
}
.shop-image{
  width: 400px;
  height: 298px;
  margin: auto;
}
.shop-div2{
  width: 1240px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}
.shop-title{
  /* color: rgba(255, 255, 255, 1); */
  color: dark;
  font-size: 22px;
  font-weight: 500;
  line-height: 48px;
}
.shop-div3, .shop-div4{
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
#shop-div2{
  margin-top: 50px;
}
.shop-div4{
  margin-top: 80px;
}
.category-title{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.seeAll{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.go-container{
  padding-top: 70px;
  padding-bottom: 100px;
  width: 100%;
  margin: auto;
}
.go-div1{
  width: 80%;
  margin: auto;
  justify-content: space-between;
  /* margin-top: 30px; */
  /* padding-top: 30px; */
}
.go-div3{
  margin-top: 40px;
}
.go-div2{
  display: flex;
  justify-content: center;
  padding-left: 90px;
}
.download-container{
  background-color: rgba(255, 239, 211, 0.16);
}
.download-div1{
  justify-content: center;
  width: 80% ;
  /* margin-left: 30px; */
  margin: auto;
}
.download-div2{
  margin-top: 120px;
}
.download-maintext{
  color: rgba(42, 42, 42, 1);
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}
.phoneimage1{
  height: 800.7px;
  width: 500.14px;
  margin-right: -600px;
  margin-left: 200px;

}
.phoneimage2{
  height: 800.7px;
  width: 500.14px;
}
.footer-container{
  background-color: var(--SecondaryColor);
  padding-top: 50px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  padding-bottom: 50px;
}
.footer-div1{
  width: 90%;
  margin: auto;
}
.footer-div2{
  justify-content: space-between;
}
.footer-nav{
  display: block;
}
.footer-navLink{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.footer-navLink:hover{
  color: white;
}
.footer-navLink::after{
  background-color: white;
}
.media-image{
  width: 24px;
  height: 24px;
}
.media-div{
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 64px;
  height: 64px;
}
.copyright{
  text-align: end;
  margin-top: -85px;
}
.dropdown-toggle{
  width: 600px;
  height: 120px;
  text-align: start;
  /* padding: 5px; */
}
.fag-container{
  padding-top:70px ;
  width: 90%;
  margin: auto;
  padding-bottom: 70px;
}
.fag-div1{
  display: flex;
  justify-content: center;
  gap: 48px;
}
.dropdown-toggle{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
