body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --mainColor: #ffff;
  --SecondaryColor:rgba(0, 27, 46, 1);
  --textColor: rgba(204, 204, 204, 1);
  --bigFontSize: 40px;
  --bigFontWeight: 500; 
  ;
}
